<li class="inline widthmax" data-test-project-menu-item={{@slotParams.id}}>
  <LinkTo
    class="alignleft widthmax"
    @route={{@slotRoute}}
    @model={{@slotParams.id}}>
    <div class="project-slot custombox">
      <div class="project-slot-info">
        {{#if @slotParams.sprite}}
          <img class="project-slot-img"
            alt={{t "nav.projectIcon" label=(t (concat "category.slot." @slotParams.id ".label"))}}
            src={{@slotParams.sprite}}
            width="30px"
          >
        {{/if}}
        <p class="inline">
          {{t (concat "category.slot." @slotParams.id ".label")}}
        </p>
        {{#if @slotParams.skills}}
          {{#each @slotParams.skills as |skill|}}
            <span class="badge label">{{skill}}</span>
          {{/each}}
        {{/if}}
      </div>
    </div>
  </LinkTo>
</li>