<nav aria-label={{t "nav.main"}} class="padding-side" ...attributes>
  <ul class="equipment-bar-item">
    {{#each this.thumbs as |thumb|}}
      <EquipmentItem
        @keyroute={{thumb.keyroute}}
        @name={{thumb.name}}
        @sprite={{thumb.sprite}}
      />
    {{/each}}
    <LinksButtons @model={{@model}} @cvSlots={{@cvSlots}} />
  </ul>
</nav>
