<div class="padding-side" ...attributes>
  <div class="equipment-bar-item">
    {{#each this.thumbs as |thumb|}}
      <EquipmentItem
        @keyroute={{thumb.keyroute}}
        @name={{thumb.name}}
        @sprite={{thumb.sprite}}
      />
    {{/each}}
    <LinksButtonsItem @model={{@model}} @cvSlots={{@cvSlots}} />
  </div>
</div>
