<ProjectTemplate @projectId="bewilderhouse">
  <div class="project-part t2">
    <h2>{{t "general.trailer"}}</h2>
    <div class="video">
      <iframe
        title={{t "category.slot.bewilderhouse.trailer"}}
        width="640"
        height="360"
        src="https://www.youtube.com/embed/H49-RM41b4I"
        frameborder="0"
        allowfullscreen>
      </iframe>
    </div>
  </div>

  <div class="project-part t1">
    <p>{{t "category.slot.bewilderhouse.linkGamejolt"
        htmlSafe=true
        gamejolt="http://gamejolt.com/games/puzzle/bewilder-house/17297"
      }}</p>
    <p>{{t "category.slot.bewilderhouse.linkFacebook"
        htmlSafe=true
        facebook="https://www.facebook.com/Bewilder-House-official-255616847933869"
      }}</p>
    <p>{{t "category.slot.bewilderhouse.linkMail" htmlSafe=true}}</p>
  </div>

  <div class="project-part t2">
    <h2>{{t "general.about"}}</h2>
    <p>{{t "category.slot.bewilderhouse.about"}}</p>
  </div>

  <div class="project-part t1">
    <div class="video">
      <video controls
        src="/video/bewilder_trailer_univers.mp4"
        width="640"
        height="360">
      </video>
    </div>
    <p>{{t "category.slot.bewilderhouse.trailerUniverse"}}</p>
  </div>

  <div class="project-part t2">
    <h2>{{t "general.gd"}}</h2>
    <p>{{t "category.slot.bewilderhouse.gd1"}}</p>
    <p>{{t "category.slot.bewilderhouse.gd2"}}</p>
    <p>{{t "category.slot.bewilderhouse.gd3"}}</p>
    <p>{{t "category.slot.bewilderhouse.gd4"}}</p>
  </div>

  <div class="project-part t1">
    <h2>{{t "general.universe"}}</h2>
    <p>{{t "category.slot.bewilderhouse.universeIntro"}}</p>
    <ul>{{t "category.slot.bewilderhouse.universeContent" htmlSafe=true}}</ul>
    <p>{{t "category.slot.bewilderhouse.universeConclusion"}}</p>
  </div>

  <div class="project-part t2">
    <h2>{{t "general.anecdote"}}</h2>
    <p>{{t "category.slot.bewilderhouse.minoteam" htmlSafe=true}}</p>
    <p>{{t "category.slot.bewilderhouse.minotaure"}}</p>
  </div>
</ProjectTemplate>
