<ProjectTemplate @projectId="bewilderhouse" as |tkey|>
  <div class="project-part">
    <h2>{{t "general.trailer"}}</h2>
    <div class="video">
      <iframe
        title={{t (concat tkey "trailer")}}
        width="640"
        height="360"
        src="https://www.youtube.com/embed/H49-RM41b4I"
        frameborder="0"
        allowfullscreen>
      </iframe>
    </div>
  </div>

  <div class="project-part">
    <p>{{t (concat tkey "linkGamejolt")
        htmlSafe=true
        gamejolt="http://gamejolt.com/games/puzzle/bewilder-house/17297"
      }}</p>
    <p>{{t (concat tkey "linkFacebook")
        htmlSafe=true
        facebook="https://www.facebook.com/Bewilder-House-official-255616847933869"
      }}</p>
    <p>{{t (concat tkey "linkMail") htmlSafe=true}}</p>
  </div>

  <div class="project-part">
    <h2>{{t "general.about"}}</h2>
    <p>{{t (concat tkey "about")}}</p>
  </div>

  <div class="project-part">
    <div class="video">
      <video controls
        src="/video/bewilder_trailer_univers.mp4"
        width="640"
        height="360">
      </video>
    </div>
    <p>{{t (concat tkey "trailerUniverse")}}</p>
  </div>

  <div class="project-part">
    <h2>{{t "general.gd"}}</h2>
    <p>{{t (concat tkey "gd1")}}</p>
    <p>{{t (concat tkey "gd2")}}</p>
    <p>{{t (concat tkey "gd3")}}</p>
    <p>{{t (concat tkey "gd4")}}</p>
  </div>

  <div class="project-part">
    <h2>{{t "general.universe"}}</h2>
    <p>{{t (concat tkey "universeIntro")}}</p>
    <ul>{{t (concat tkey "universeContent") htmlSafe=true}}</ul>
    <p>{{t (concat tkey "universeConclusion")}}</p>
  </div>

  <div class="project-part">
    <h2>{{t "general.anecdote"}}</h2>
    <p>{{t (concat tkey "minoteam") htmlSafe=true}}</p>
    <p>{{t (concat tkey "minotaure")}}</p>
  </div>
</ProjectTemplate>
