<ProjectTemplate @projectId="ecosmart">
  <div class="project-part">
    <p>{{t "category.slot.ecosmart.about"}}</p>
  </div>
  <div class="project-part">
    <h2>{{t "category.slot.ecosmart.title1"}}</h2>
    <p>{{t "category.slot.ecosmart.content1" htmlSafe=true}}</p>
  </div>
  <div class="project-part">
    <h2>{{t "category.slot.ecosmart.title2"}}</h2>
    <p>{{t "category.slot.ecosmart.content2" htmlSafe=true}}</p>
  </div>
</ProjectTemplate>