<div class="project-template borderleft">
  <h1>{{t "category.slot.ecosmart.label"}}</h1>
  <p>{{t "category.slot.ecosmart.intro"}}</p>
  <div class="project-part t1">
    <p>{{t "category.slot.ecosmart.about"}}</p>
  </div>
  <div class="project-part t2">
    <h2>{{t "category.slot.ecosmart.title1"}}</h2>
    <p>{{t "category.slot.ecosmart.content1" htmlSafe=true}}</p>
  </div>
  <div class="project-part t1">
    <h2>{{t "category.slot.ecosmart.title2"}}</h2>
    <p>{{t "category.slot.ecosmart.content2" htmlSafe=true}}</p>
  </div>
</div>