<div class="project-template borderleft">
  <h1>{{t "category.slot.homeplay.label"}}</h1>
  <p>{{t "category.slot.homeplay.intro"}}</p>
  <div class="project-part t1">
    <p>{{t "category.slot.homeplay.apis"}}</p>
  </div>
  <div class="project-part t2">
    <p>{{t "category.slot.homeplay.limitations"}}</p>
  </div>
  <div class="project-part t1">
    <p>{{t "category.slot.homeplay.context"}}</p>
  </div>
</div>