<ProjectTemplate @projectId="imagana" as |tkey|>
  <div class="project-part">
    <h2><h2>{{t "general.trailer"}}</h2></h2>
    <div class="video">
      <iframe
        title={{t (concat tkey "trailer")}}
        width="640"
        height="360"
        src="https://www.youtube.com/embed/JGfgdKd0yrU"
        frameborder="0"
        allowfullscreen>
      </iframe>
    </div>
  </div>

  <div class="project-part">
    <h2>{{t "general.about"}}</h2>
    <p>{{t (concat tkey "about1")}}</p>
    <p>{{t (concat tkey "about2")}}</p>
  </div>

  <div class="project-part">
    <h2>{{t "general.links"}}</h2>
    <p>{{t (concat tkey "links1")}}</p>
    <p>{{t (concat tkey "links2")
      htmlSafe=true
      facebook="http://www.facebook.com/imaganalejeu"
    }}</p>
  </div>

  <div class="project-part">
    <h2>{{t "general.gameplayVideo"}}</h2>
    <div class="video">
      <iframe
        title={{t (concat tkey "gameplay1")}}
        width="640"
        height="360"
        src="https://www.youtube.com/embed/yhXU5FAoBwU"
        frameborder="0" allowfullscreen>
      </iframe>
    </div>
    <p>{{t (concat tkey "gameplay2")
      htmlSafe=true
    }}</p>
  </div>

  <div class="project-part">
    <h2>{{t "general.universe"}}</h2>
    <p>{{t (concat tkey "universe1")}}</p>
    <p>{{t (concat tkey "universe2")}}</p>
  </div>

  <div class="project-part">
    <h2>{{t "general.anecdote"}}</h2>
    <p>{{t (concat tkey "anecdote")}}</p>
  </div>
</ProjectTemplate>