<ProjectTemplate @projectId="mypeopledoc">
  <div class="project-part">
    <p>{{t "category.slot.mypeopledoc.about"}}</p>
  </div>
  <div class="project-part">
    <h2>{{t "category.slot.mypeopledoc.title1"}}</h2>
    <p>{{t "category.slot.mypeopledoc.content1"}}</p>
  </div>
  <div class="project-part">
    <h2>{{t "category.slot.mypeopledoc.title2"}}</h2>
    <p>{{t "category.slot.mypeopledoc.content2"}}</p>
  </div>
</ProjectTemplate>