<ProjectTemplate @projectId="mypeopledoc" as |tkey|>
  <div class="project-part">
    <p>{{t (concat tkey "about")}}</p>
  </div>
  <div class="project-part">
    <h2>{{t (concat tkey "title1")}}</h2>
    <p>{{t (concat tkey "content1")}}</p>
  </div>
  <div class="project-part">
    <h2>{{t (concat tkey "title2")}}</h2>
    <p>{{t (concat tkey "content2")}}</p>
  </div>
</ProjectTemplate>