<div class="project-template borderleft">
  <h1>{{t "category.slot.reef.label"}}</h1>
  <p>{{t "category.slot.reef.intro"}}</p>

  <div class="project-part t2">
    <h2>{{t "general.about"}}</h2>
    <p>{{t "category.slot.reef.content1"}}</p>
    <p>{{t "category.slot.reef.content2"}}</p>
  </div>

  <div class="project-part t1">
    <h2>{{t "general.trailer"}}</h2>
    <div class="video"><video controls src="/video/reef_gameplay.mp4" width="640" height="360"></video></div>
  </div>

  <div class="project-part t2">
    <h2>{{t "general.anecdote"}}</h2>
    <p>{{t "category.slot.reef.content3"}}</p>
  </div>

</div>