<ProjectTemplate @projectId="reef" as |tkey|>
  <div class="project-part">
    <h2>{{t "general.about"}}</h2>
    <p>{{t (concat tkey "content1")}}</p>
    <p>{{t (concat tkey "content2")}}</p>
  </div>

  <div class="project-part">
    <h2>{{t "general.trailer"}}</h2>
    <div class="video"><video controls src="/video/reef_gameplay.mp4" width="640" height="360"></video></div>
  </div>

  <div class="project-part">
    <h2>{{t "general.anecdote"}}</h2>
    <p>{{t (concat tkey "content3")}}</p>
  </div>
</ProjectTemplate>