<div class="project-template borderleft">
  <h1>{{t "category.slot.stupidhermitcrab.label"}}</h1>
  <p>{{t "category.slot.stupidhermitcrab.intro"}}</p>

  <div class="project-part t2">
    <h2>{{t "general.about"}}</h2>
    <p>{{t "category.slot.stupidhermitcrab.content2"}}</p>
  </div>

  <div class="project-part t1">
    <h2>{{t "general.executable"}}</h2>
    <p>{{t "category.slot.stupidhermitcrab.download"
      htmlSafe=true
      mediafire="http://www.mediafire.com/download/axtnkaynw9vmoh6/Stupid+Hermit+Crab.zip"
    }}</p>
  </div>

  <div class="project-part t2">
    <h2>{{t "general.gameplayVideo"}}</h2>
    <p>{{t "category.slot.stupidhermitcrab.content1"}}</p>
    <div class="video"><video controls src="/video/shc_gameplay.avi" width="640" height="360"></video></div>
  </div>

  <div class="project-part t1">
    <h2>{{t "general.anecdote"}}</h2>
    <p>{{t "category.slot.stupidhermitcrab.content3"}}</p>
  </div>

</div>